#logo {
  height: 80%;
}
/* 
#logo > img {
  vertical-align: middle;
} */
#avatar {
  display: inline-block;
  height: 40px;
  border-radius: 100%;
}

#avatar > img {
  vertical-align: middle;
}
.nav-wrapper {
  padding-left: 100px;
  padding-right: 100px;
}
